{% extends "base.html" %}

{% block content %}

{% if session %}

<h1>Welcome back {{session["first_name"]}}</h1>

<br>


<h2>My Posts</h2>
<hr>
{% for post in my_posts %}

<a href="{{url_for('show',title=post['title'])}}"> {{post["title"].title()}}</a>

<br>

<p>{{post["body"]}}</p>

<a href="{{url_for('edit', title=post['title'])}}">EDIT</a>

<form method="POST" action="{{url_for('show', title=post['title'])}}?_method=DELETE">
    <input type="submit" value="DELETE">
</form>

<hr>

{% endfor %}
{% endif %}
<a href="{{url_for('new_post')}}">Add new Post</a>
{% endblock %}